@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f5f7;
  color: #1e293b;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
